@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

@font-face {
    font-family: 'db_helvethaica_x53_ext';
    src: url('../font/db_helvethaica_x_ext_v3.2-webfont.eot');
    src: url('../font/db_helvethaica_x_ext_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/db_helvethaica_x_ext_v3.2-webfont.woff') format('woff'),
         url('../font/db_helvethaica_x_ext_v3.2-webfont.ttf') format('truetype'),
         url('../font/db_helvethaica_x_ext_v3.2-webfont.svg#db_helvethaica_x53_ext') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #eeeeee;
    font-family:'Open Sans', sans-serif; 
    font-size: 13px;
    color: #555;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family:'Open Sans', sans-serif;
}

/*TOP NAV*/
.navbar {
  margin-bottom: 0;
}
.datime {
    margin-top: 18px;
    color: #FFF;
}
.profile {
    white-space: nowrap;
}
.profile img {
    width: 30px;
    height: 30px;
    /*border: 3px solid #FFF;*/
    float: left;
    margin-right: 10px;
}
.profileNav {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 3px 10px;
    background-color: #7db700;
    color: #FFF;
}
.profileNav span {
    font-size: 130%;
}
.profileNav li {
    float: left;
    display: inline;
}
.nav > li > a {
  /*height: 45px;
*/  padding: 5px 6px;
}

.profilePop li {
  /*border-bottom: 1px solid #EFEFEF;*/
  min-width: 280px !important;
}
.profilePop > li > a {
  padding: 3px 15px;
}

/*TOP NAV*/


.navlogo {
    background-color: #333333;
    border-bottom: 4px solid #ffe400;
}
.bodypadding {
    padding: 20px 0;
}
.logotop img {
    margin-top: 20px;
    margin-bottom: 20px;
}
.paddignTop {
    padding-top: 20px;
}


.searchinPut {
    background-color: #333333;
    border: 1px solid #444444;
}

.btn-search {
    background-image: linear-gradient(to bottom, #8ccd00 0%, #8ccd00 100%);
    background-repeat: repeat-x;
    border-color: #8ccd00;
}
.btn-search:hover, .btn-search:active, .btn-search.active {
    background-color: #8ccd00;
    border-color: #8ccd00;
}

a.signinbtn {
  display: inline-block;
  margin-top: 6px;
}


/*Slide Show*/
#slider {
  width: 100%;
}
.paddingTop {
    margin-top: 20px;
}
.rsContent {
  color: #333;
  font-size: 24px;
  line-height: 32px;
  float: left;
}

.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto;
}

/*Slider Text Size*/
.textline1 {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 48px !important;
  color: #83DA01;
  line-height: 30px;
}
.textline2 {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 32px !important;
  line-height: 25px;
}
.textline3 {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 36px !important;
  padding: 5px 50px;
  line-height: 25px;
}
/*Slider Text Size*/

.blockHeadline {
  font-size: 42px;
  line-height: 50px;
}
.blockSubHeadline {
  font-size: 32px;
  line-height: 40px;
}
.txtCent {
  text-align: center; 
  width: 100%; 
}

.slideinner {
  background-color: #000;
  background: rgba(0,0,0,0.8);
  padding: 5px 15px 15px 15px;
}

.photoCopy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: black;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25;
}
.photoCopy a {
  color: #FFF;
}
.palmImg {
  left: 0;
  top: auto;
  bottom: -60px;
  position: absolute;
}


@media screen and (min-width: 0px) and (max-width: 960px) { 
  .rsContent {
    font-size: 22px;
    line-height: 28px;
  }
  .blockHeadline {
    font-size: 32px;
    line-height: 32px;
  }
  .blockSubHeadline {
    font-size: 26px;
    line-height: 32px
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
  .royalSlider,
  .rsOverflow {
    height: 330px !important;
  }
  .rsContent {
    font-size: 18px;
    line-height: 26px;
  }
  .blockHeadline {
    font-size: 24px;
    line-height: 32px;
  }
  .blockSubHeadline {
    font-size: 22px;
    line-height: 32px
  }
}

.titleh3 {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  padding: 0 0 20px 0;
  margin: 0;
  font-size: 32px;
}



.about {
    background-color: #fff;
    font-size: 1.250em;
    padding: 30px;
}
.about h2 {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  border-bottom: 1px solid #EFEFEF;
  padding: 0 0 20px 0;
  margin: 0 0 30px 0;
  font-size: 46px;
  line-height: 40px;
  color: #73a900;
}

a.btnBig, a.btnBig:active, a.btnBig:visited {
    padding: 20px;
    font-weight: 300;
    float: right;
    background-color: #333;
    color: #FFF;
    font-family: 'db_helvethaica_x53_ext', sans-serif;
    font-size: 2.550em;
}
a.btnBig:hover {
  color: #FFF;
  text-decoration: none;
}


.giftcontent {
  background-color: #8ccd00;
  padding: 30px;
}
/*.titleGift {
  font-size: 3.175em;
  color: #FFF;
  font-weight: 300;
  padding-bottom: 20px;
}
.titleGift span {
  font-weight: 600;
}*/
.marginButton {
  margin-bottom: 20px;
}
.icongift {
  width: 175px;
  height: 175px;
}
.giftcol {
  position: relative;
  max-width: 175px;
  float: left;
  margin-right: 35px;
}
.giftcol h4 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #333;
}
.nopoint {
  position: absolute;
  top: 0; 
  right: 0;
  background-color: #ffea00;
  display: inline;
  padding: 20px 10px;
  color: #333;
  -webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;
}
.nopoint h4 {
  font-weight: 300;
  font-family:'Open Sans', sans-serif;
}
.detailgiftcol {
  margin-left: 215px;
}
.detailgiftcol h2 {
  padding: 0;
  margin: 0 0 15px 0;
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 2.850em;
  line-height: 34px;
}
.detailgiftcol h4 {
  font-weight: 300;
  font-family:'Open Sans', sans-serif;
}
.detailgiftcol h2 a, .detailgiftcol h2 a:active, .detailgiftcol h2 a:visited {
  color: #FFF;
}
.detailgiftcol h2 a:hover {
  text-decoration: underline;
}


.newscontent {
  padding: 30px;
  background-color: #fff;
}
.titleNews {
  font-size: 3.175em;
  font-weight: 300;
}
.titleNews span {
  font-weight: 600;
}
.listNews {
  width: 200px;
  position: relative;
}
.dateTime {
  position: absolute;
  left: 0;
  top: 70px;
  background-color: #000;
  color: #FFF;
  padding: 3px;
}
.titleNewsCol {
  color: #3b9d00;
}
.titleNewsCol h4 {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 24px;
  line-height: 20px;
}
.linecontent {
  height: 1px;
  background-color: #efefef;
  margin-top: 20px;
  margin-bottom: 20px;
}
.linelistnews {
 border-bottom: 1px solid #CCC;
 padding-bottom: 30px;
 margin-bottom: 30px;
}
.linelistComment {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.linelistFaq {
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.pollcontent {
  border: 1px solid #efefef;
  padding: 20px;
  margin-bottom: 20px;
}
.pollcontent h4 {
  font-weight: 300;
  margin:  0 0 20px 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
}
.pollcontentBox {
  border: 0 solid #efefef;
  padding: 0;
}
.pollcontentBox h4 {
  font-weight: 300;
  margin:  0 0 20px 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
}
.morepoll {
  font-size: 1.125em;
  padding-top: 15px;
}

.bannercontent {
  border: 1px solid #efefef;
  padding: 15px;
  margin-bottom: 10px;
}
.bannermg {
  margin-bottom: 15px;
}

.linkContent {
  border: 1px solid #efefef;
  padding: 20px;
  margin-bottom: 10px;
}
.linkContent h4 {
  padding: 0 0 15px 0;
  margin: 0;
  font-weight: 300;
  font-family:'Open Sans', sans-serif;
}
.linkContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.linkContent ul li {
  float: left;
  display: inline;
  margin-right: 20px;
  min-width: 180px;
  padding: 4px 0;
  border-bottom: 1px solid #efefef;
}
.linkContent ul li:nth-child(2n) {
  margin-right: 0;
}
.morelink {
  font-size: 1.125em;
  padding-top: 15px;
}


.footer {
  background-color: #333;
  padding: 30px;
  color: #666;
}
.linkfooter {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.linkfooter li {
  display: inline;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #FFF;
}
.linkfooter li:last-child {
  margin-right: 0;
  border-right: 1px solid #333;
}

.linkfooter li a, .linkfooter li a:active, .linkfooter li a:visited {
  color: #FFF;
  font-size: 1.125em;
}
.linkfooter li a:hover {
  color: #666;
}
.imgFooter {
  width: 225px;
  height: auto;
}

.boxdate {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-top: 6px solid #CCC;
  padding: 15px;
}
.boxdate h5, .boxdate h3 {
  padding: 0;
  margin: 0;
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
}
.boxdate h5 {
  font-size: 1.175em;
}
.boxdate h3 {
  font-size: 3.000em;
  margin: 5px 0;
  color: #8ccd00;
}


a.newsListTitle, a.newsListTitle:active, a.newsListTitle:visited {
  color: #75ab00;
}
a.newsListTitle:hover {
  color: #333;
  text-decoration: none;
}
.newsListTitle h1 {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 36px;
  line-height: 30px;
}
.shortnews {
  margin-top: 20px;}

.newsListTitlefull h1 {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  padding: 0;
  margin: 30px 0 10px 0;
  color: #75ab00;
  font-size: 36px;
  line-height: 30px;
}


h3.panel-title {
  font-size: 24px;
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  line-height: 20px;
}

.categoriesbox {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categoriesbox li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #CCC;
}

.hotnewsbox {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hotnewsbox li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #CCC;
}
.datenews {
  margin-bottom: 30px;
  display: block;
}
.titlecomment {
  padding: 40px 0 15px 0;
  margin: 0 0 30px 0;
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  color: #333;
  border-bottom: 1px solid #CCC;
  font-size: 32px;
}
.usercomment {
  font-size: 1.125em;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.titlefaq {
  font-size: 28px;
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  line-height: 22px;
}
a.asread, a.asread:active, a.asread:visited, a.asread:hover {
  color: #999 !important;
}
.asreadi i {
  color: #999;
}


.bs-callout {
    border-left: 5px solid #EEEEEE;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code, .bs-callout .highlight {
    background-color: #FFFFFF;
}
.bs-callout-danger {
    background-color: #FCF2F2;
    border-color: #DFB5B4;
}
.bs-callout-warning {
    background-color: #FEFBED;
    border-color: #F1E7BC;
}
.bs-callout-info {
    background-color: #F0F7FD;
    border-color: #D0E3F0;
}
.linereplyFaq {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid #CCC;
}

.stepfile {
  font-weight: 600;
  font-family:'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #CCC;
}
.wizard {
  margin-bottom: 30px;
}
.wizard span {
  color: #CCC;
}
.stepfile.active {
  color: #000;
}
.wizard span.active {
  color: #000;
}
.wizard .col-md-4 {
  border-left: 5px solid #efefef;
}
.wizard .col-md-4:first-child {
  border-left: 0px solid #efefef;
}
.registerTitle {
  font-weight: 600;
  font-family:'Open Sans', sans-serif;
  padding: 0 0 8px 0;
  margin: 40px 0 30px 0;
  border-bottom: 1px dashed #CCC;
  color: #75ab00;
}
.buttonFooterForm {
  padding: 30px 0;
  border-top: 1px dashed #CCC;
  margin-top: 30px;
}
.textConfirm {
  padding-top: 5px;
}

.contentConfirm i {
  font-size: 80px;
}
.contentConfirm h1 {
  font-weight: 600;
  font-family:'Open Sans', sans-serif;
  color: #08b351;
}
.contentConfirm h4 {
  font-weight: 300;
  font-family:'Open Sans', sans-serif;
}

.stepq {
  font-size: 48px;
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  line-height: 40px;
  margin: 0 0;
  padding: 0 0;
}

/*PROFILE*/
.titleNameProfile {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 3.000em;
  color: #8ccd00;
}
.profileDetail h4 {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 1.625em;
  padding: 0;
  margin: 0;
  color: #000;
}
.titlePoint {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 1.625em;
  margin: 10px 0 0 0;
  color: #000;
}
.bottomPoint {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 1.625em;
  color: #000;
}
.bottomPoint span {
  color: #d00101;
}
.noPoint {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 4.250em;
  color: #8ccd00;
  line-height: 20px;
}
img.bprofile {
  width: 225px;
  height: 225px;
}
img.eprofile {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}
.btnProfile {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
}
.btnProfile li {
  margin-bottom: 8px;
  background-color: #8ccd00;
  padding: 5px 10px 5px 40px;
}
.btnProfile li i {
  margin-right: 20px;
}
.btnProfile li a, .btnProfile li a:active, .btnProfile li a:visited {
  color: #FFF;
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 1.550em;
}
.btnProfile li a:hover {
  text-decoration: none;
  color: #000;
}

.linebox {
  background-color: #efefef;
  height: 3px;
  margin: 30px 0;
}
.titleGift {
  font-size: 2.375em;
  font-weight: 300;
  font-family:'Open Sans', sans-serif;
  color: #000;
  padding-bottom: 20px;
}
.titleGift span {
  font-weight: 600;
}
.listGift {
  border-bottom: 3px solid #efefef;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.icongift2 {
  width: 140px;
  height: 140px;
  border: 3px solid #efefef;
}
.giftcol2 {
  position: relative;
  max-width: 140px;
  float: left;
  margin-right: 35px;
}
.giftcol2 h4 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #333;
}
.nopoint2 {
  position: absolute;
  top: -10px; 
  right: -20px;
  background-color: #ffea00;
  display: inline;
  padding: 12px 8px;
  color: #333;
  -webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;
}
.nopoint2 h4 {
  font-size: 1.00em;
  font-weight: 600;
}


.noidGift {
  text-decoration: underline;
}

a.redemtionbtn, a.redemtionbtn:active, a.redemtionbtn:visited {
  background-color: #333;
  padding: 6px 10px;
  color: #FFF;
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 1.225em;
}
a.redemtionbtn:hover {
  text-decoration: none;
  background-color: #000;
}
.rowredeem {
  margin-bottom: 10px;
}

.mainaboutText {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 24px;
  line-height: 22px;
}
.mainaboutText strong {
  color: #4bb100;
}


a.bgSignin, a.bgSignin:active, a.bgSignin:visited {
  background-color: #7db700;
  color: #FFF;
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}
a.bgSignin:hover {
  background-color: #7db700;
  color: #000;
}
a.bgSignin:focus {
  background-color: #7db700;
  color: #000;
}
.paddingPoplogin {
  padding: 20px;
  width: 300px;
}
.lostpassword {
  padding-top: 20px;
  margin-left: 20px;
}

.rowactive {
  background-color: #efefef;
}

/*RESET*/
.resetBoxshadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}
.resetBorderRadius {
  border-radius: 0 0 0 0;
}

.menures {
  margin-top: 20px;
  display: none;
}


.thumbnail {
    background-color: #88c701;
    border: 1px solid #77ae00;
    border-radius: 4px;
    display: block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 20px 5px 5px;
    transition: all 0.2s ease-in-out 0s;
    margin-bottom: 20px;
}
.thumbnail, .img-thumbnail {
    box-shadow: none;
}
.thumbnail .caption {
  color: #FFF;
}
.thumbnail .caption h3 {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 28px;
  line-height: 24px;
}
.thumbnail .caption p {
  color: #000;
}

h1.successtext {
  font-family: 'db_helvethaica_x53_ext', sans-serif;
  font-size: 36px;
}
.sharefacebook {
  margin-top: 30px;
}
h5.dateadd {
  margin: 0 0 10px 0;
  color: #AAA;
  font-size: 12px;
  padding: 0
}
h5.dateadd.inmain {
  color: #FFF;
}

/*GIFT LIST*/
h3.titlegiftmain {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  color: #FFF;
  font-size: 24px;
  line-height: 20px;
  margin: 0;
  padding: 10px 0 0 0;
}
.giftdate {
  color: #FFF;
  background-color: #333;
  font-size: 13px;
  display: block;
  padding: 3px 5px;
  margin: 0 0 0;
}

.giftloopcontent h3, .giftloopcontent h4 {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  padding: 0;
  margin: 0;
}
.giftloopcontent h4 {
  padding-top: 10px !important;
  font-size: 22px;
  text-decoration: underline;
}
.giftloopcontent {
  margin-bottom: 30px;
  padding-bottom: 20px;
  min-height: 420px;
  max-height: 420px;
  border-bottom: 3px solid #EFEFEF;
  overflow: hidden;
}
.giftloopcontent em {
  font-size: 11px;
  padding-top: 10px;
  display: inline-block;
}
.giftloopcontentGuest {
  margin-bottom: 20px;
  padding-bottom: 20px;
  min-height: 380px;
  max-height: 380px;
}
.giftloopcontent img {
  width: 250px;
  height: 250px;
}
.titleGiftList {
  padding: 10px 0 15px 0 !important;
  margin: 0;
  line-height: 24px;
}
h3.scorebg {
  background-color: #FFEB13;
  color: #000;
  display: inline;
  padding: 3px 8px;
}
.shotbar {
  background-color: #efefef;
  padding: 15px;
  display: block;
  margin-bottom: 25px;
}

.titleGiftList {
  color: #FFF;
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 32px;
}
.titleGiftList a, .titleGiftList a:active, .titleGiftList a:visited {
  color: #FFF;
}
.titleGiftList a:hover {
  color: #EEE;
  text-decoration: none;
}



h3.titleGiftListMem {
  padding: 15px 0;
  line-height: 26px;
}
.titleGiftListMem {
  color: #FFF;
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 32px;
}
.titleGiftListMem a, .titleGiftListMem a:active, .titleGiftListMem a:visited {
  color: #333;
}
.titleGiftListMem a:hover {
  color: #000;
  text-decoration: none;
}



.giftloopcontent2 h3, .giftloopcontent2 h4 {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  padding: 0;
  margin: 0;
}
.giftloopcontent2 h4 {
  padding-top: 10px !important;
  font-size: 22px;
  text-decoration: underline;
}
.giftloopcontent2 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #EFEFEF;
  overflow: hidden;
  height: 180px;
}
.giftloopcontent2 em {
  font-size: 11px;
  padding-top: 10px;
  display: inline-block;
}
.giftloopcontent2 img {
  width: 160px;
  height: 160px;
}


.giftloopcontent3 h3, .giftloopcontent3 h4 {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  padding: 0;
  margin: 0;
}
.giftloopcontent3 h4 {
  padding-top: 10px !important;
  font-size: 22px;
  text-decoration: underline;
}
.giftloopcontent3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #EFEFEF;
  overflow: hidden;
  height: 230px;
}
.giftloopcontent3 em {
  font-size: 11px;
  padding-top: 10px;
  display: inline-block;
}
.giftloopcontent3 img {
  width: 160px;
  height: 160px;
}



h3.scorebg2 {
  background-color: #FFEB13;
  color: #000;
  display: inline;
  padding: 3px 15px;
}
.titleGiftList2 {
  font-size: 32px;
  padding: 10px 0 5px 0 !important;
  margin: 0;
  color: #50ab00;
  line-height: 24px;
}
.detailgift {
  padding-bottom: 10px;
}
/*END GIFT LIST*/

/*GIFT DETAIL*/
.titlegiftDetail {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 36px;
  padding-bottom: 20px;
  line-height: 30px;
}
.panelgiftdetail {
  margin-top: 30px;
}
a.btn-gift, a.btn-gift:active, a.btn-gift:visited {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 36px;
  background-color: #333;
  color: #FFF;
  display: inline;
  padding: 10px 20px;
}
a.btn-gift:hover {
  background-color: #000;
  text-decoration: none;
}
/*END GIFT DETAIL*/

/*RESET MODAL*/
.modal-title {
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 26px;
  padding: 0;
  margin: 0;
}
.modal-header {
  padding: 10px 15px;
}
.titlegiftPop {
  margin: 0;
  padding: 0 0 20px 0;
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 32px;
  color: #4EB400;
}

.btn-group .badge {
  margin-left: 30px;
  background-color: #8ccd00;
}
.btnProfileTop {
  margin-top: 6px;
}
.linestep {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #CCC;
}

blockquote {
  border-bottom: 1px solid #EEE !important;
}

.listqn {
  list-style: none;
  padding: 0;
  margin: 0;
}
.listqn li {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #EEE;
}
.listqn li h5 {
  color: #AAA !important;
  padding: 0;
  margin: 0;
}


.giftloopcontentMain {
  position: relative;
}
.giftloopcontentMain h3 div {
  position: absolute;
  left: 15px;
  top: 10px;
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 32px;
  background-color: #000;
  color: #FFF;
  padding: 5px 15px;
}
.idgift {
  padding-top: 10px;
  font-family: 'db_helvethaica_x53_ext', sans-serif !important;
  font-size: 24px;
  text-decoration: underline;
  color: #000;
}
.gifthistory {
  width: 50px;
  height: 50px;
}

/*Responsive*/
@media screen and (max-width: 400px) {

}

@media (max-width: 767px) {
  .menures {
    margin-top: 20px;
    display: inline;
  }
}


